<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-3">
            <h1>友情提示:</h1>
            <h2>您使用的程序尚未注册</h2>
            <h2>请联系程序开发者进行注册</h2>
            <h2>联系QQ:345895883</h2>
        </div>
    </div>
</div>